/* Navigation Bar Styles */
.navbar {
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 70);
  }
  
  .nav-links {
    display: flex;
    gap: 95px;
    margin-right: 36px;
    list-style: none;
    padding: 0;
  }
  
  .nav-item a {
    color: #fff;
    font-family: "Istok Web", sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
  }
  
  /* Responsive Styles */
  @media (max-width: 991px) {
    .nav-links {
      gap: 40px;
      margin-right: 20px;
    }
  }
  
  @media (max-width: 640px) {
    .nav-links {
      display: none;
    }
  }
  